body {
	background-color: #2da0e3;
	color: #FFFFFF;
}

section#mainDiv {
	width: 1300px;
	height: 765px;
	margin-top: -10px;
	padding: 10px;
	background-image: url("../images/backgroundImage1.jpg");
}

/*BEGIN Player Information*/
section#aboutPlayerSection {
	width: 600px;
	padding-top: 150px;
	float: left;
}

article#aboutPlayerArticle {
	float: left;
	margin-bottom: 10px;
}
/*END Player Information*/

/*BEGIN Player Stats*/
section#playerStats {
	float: left;
	clear: both;
	margin-bottom: 10px;
}
/*END Player Stats*/

/*BEGIN Player Items*/
section#playerItems {
	float: left;
	clear: both;
	margin-bottom: 10px;
}
/*END Player Items*/

/*BEGIN Hidden Area*/
section#passwordArea {
	float: left;
	clear: both;
}
/*END Hidden Area*/

.makeCentered {
	margin: 0 auto;
}

.formStructureLabel {
	width: 140px;
	padding-right: 10px;
	float: left;
}

.formStructureInput {
	width: 440px;
	padding-left: 10px;
	float: left;
}

.alignRight {
	text-align: right;
}

table {
	border-collapse: collapse;
}

th, td {
	padding: 5px;
	text-align: center;
}

table, th, td {
	border: 1px solid #FFFFFF;
}

input#theID {
	visibility: hidden;
}