#mainDiv {
	width: 960px;
	height: 600px;
	margin-top: 10px;
}

.makeCentered {
	margin: 0 auto;
}

.formStructureLabel {
	float: left;
}

.formStructureInput {
	float: left;
	padding-left: 5px;
}

.alignRight {
	text-align: right;
}